@mixin flex() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin font-regular() {
  font-family: "TT Lakes";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.2px;
}

@mixin font-medium() {
  font-family: "TT Lakes";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@mixin font-bold() {
  font-family: "TT Lakes";
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}
