.out {
  height: 100vh;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.sidebar {
  width: 320px;
  height: 100vh;
  box-shadow: 16px 0 52px 0 rgba(#0e1850, 0.2), -2px 0 4px 0 rgba(#454f7e, 0.02);
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 15;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: $trans;

  &--active {
    visibility: visible;
    transform: none;
  }

  @media (min-width: 1120px) {
    display: none;
    transform: none;
  }

  @media (min-width: 1440px) {
    position: static;
    display: block;
    visibility: visible;
    box-shadow: none;
    height: 100%;
  }

  &__inner {
    position: relative;
    height: 100%;
    padding-top: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 1440px) {
      justify-content: flex-start;
      padding-right: 32px;
      gap: 240px;
    }
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &__logo {
    width: 97px;
    height: 51px;
    background: url("svg/logo.svg");
    margin-right: 62px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }

  &__header {
    @include flex();
    justify-content: flex-start;
    gap: 16px;
    margin-bottom: 45px;

    @media (min-width: 1440px) {
      justify-content: space-between;
    }
  }

  &__btn-group {
    display: flex;
    gap: 16px;
    margin: 16px 0;
  }

  &__footer {
    & a {
      display: block;
      color: var(--dark);
      transition: 0.3s ease;
    }

    & a:hover {
      opacity: 0.7;
    }
  }

  .e-mail {
    margin-bottom: 12px;
  }

  .tel {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .lang {
    display: flex;
    gap: 7px;

    &__item {
      @include font-medium();
      transition: 0.3s ease;

      &:hover {
        opacity: 0.7;
      }

      &--active {
        opacity: 0.7;
      }
    }
  }
}

.btn-rounded {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  transition: 0.3s ease;

  &:hover {
    opacity: 0.7;
  }
}

.nav {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__item {
    position: relative;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &__link {
    color: var(--dark);

    &--active {
      opacity: 0.7;

      &::before {
        content: "";
        position: absolute;
        display: block;
        width: 8px;
        height: 32px;
        left: -28px;
        top: -8px;
        background-color: #41f6d7;
        border-radius: 20px;
      }
    }
  }
}

.closed {
  background: url("svg/closed.svg");

  @media (min-width: 1440px) {
    display: none;
  }
}

.search {
  background: url("svg/search.svg");
}

.phone {
  background: url("svg/phone.svg");
}

.chat {
  background: url("svg/chat.svg");
}

.profile {
  background: url("svg/profile.svg");
}
